*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Arial, sans-serif;
	height: 100%;
	font-size: 62.5%;

	--fg-primary: white;
	--fg-secondary: #818384;
	--bg-primary: #212424;
	--bg-secondary: #101212;
	--primary: #ff3e00;
}

body { height: 100% }
